<!DOCTYPE html>
<html lang="es">

<head>
    <title>PetShop - Tu tienda de mascotas</title>
    <meta charset="utf-8">
    <meta name="description" content="Venta de productos de mascotas">
    <meta name="author" content="Virturo Vidón">
    {% load static %}
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{%static 'app/css/style.css'%}">
    <link rel="icon" href="{%static 'app/img/icon.png'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<style>
  .navbar-logo-link {
    background-image: url("{% static 'app/img/icon.png' %}");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    padding-left: 45px; /* Ajusta este valor según sea necesario */
  }
</style>
</head>

<body>
    <!--Menú-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand navbar-logo-link" href="#">PetShop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ropa' %}">¡Concurso!</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'registro' %}">Registrarse</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'ingresar' %}">Ingresar</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'administracion' %}">Administración</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'misDatos' %}">Mis datos</a>
                </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'carrito' %}">Carrito</a>
                </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'misCompras' %}">Mis compras anteriores</a>
                </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'cerrarSesion' %}">Cerrar sesión</a>
                </li>
          </ul>
      </div>
  </nav>
    <!--Contenido-->
    <div id="contenido">
      {%block contenido%}
      {%endblock%}
    </div>

    <!--Footer-->
    <footer class="bg-dark text-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5>Contacto</h5>
            <p>Teléfono: 222-256-5690</p>
            <p>Email: PetShop@VirtudoVidon.cl</p>
          </div>
          <div class="col-md-4">
            <h5>Síguenos</h5>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="https://web.whatsapp.com/">WhatsApp</a></li>
              <li class="list-inline-item"><a href="https://www.facebook.com/">Facebook</a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/">Instagram</a></li>
              <li class="list-inline-item"><a href="https://twitter.com/">Twitter</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Acerca de nosotros</h5>
            <p>Somos una tienda en línea de mascotas comprometidos con el bienestar animal.</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
{%block js%}
{% endblock %}
  </body>
  </html>